

* { margin:0; padding:0; }

.clearer {clear:both;}
.hidden {display:none;}

body { 
	background:#f2f2f2; 
	font:14px sans-serif; 
	color:#444; 
	text-align:left; 
}

#main-container {
	border: 2px solid #DDDDDD;
    margin: 10px auto 0;
    padding: 10px;
    width: 950px;
}

.content-wrapper {
	text-align: left;
}

.authentication {
	width:50%;
	margin: 0 auto;
}

.blog-links a{
	width: 50%;
	float: left;
}

.list {
	padding: 25px;
}
.list ul {
	padding-left: 10px;
	padding-top: 10px;
}
.list li {
	padding-top: 10px;
}
.comments {
	width: 100%;
}


.divTable
{
            width: 100%;
            display:block;
            padding-top:10px;
            padding-bottom:10px;
            padding-right:10px;
            padding-left:10px; 
}
.divRow
{
         width: 99%; 
         display:block;
         padding-bottom:5px;
}
.divCell
{
         float: left;
         width: 24%;
         display:block;
}
