<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>ATG Application</display-name>
  <description>An ATG Application</description>


       <context-param>
          <param-name>atg.session.parentContextName</param-name>
          <param-value>/dyn</param-value>
       </context-param>
       
  <!--
       If context-root is set here, then ServletContextWebAppRegistry will use
       this setting as the context-root for this WebApp.  This must match
       the context-root setting in application.xml.
    -->
  <context-param>
    <param-name>context-root</param-name>
    <param-value>ff</param-value>
  </context-param>

  <context-param>
    <param-name>atg.filter.PageFilterDebug</param-name>
   <param-value>true</param-value>
  </context-param>

 <!--  <filter>
		<filter-name>httpsCookieFilter</filter-name>
		<filter-class>com.fender.sessionfilter.HttpsCookieFilter</filter-class>
	</filter> -->
	
	
   <filter>
    <filter-name>PageFilter</filter-name>
    <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
   </filter>
   <!-- Cookie filter must go first to overwrite the default secure property of JSESSIONID -->
<!--	 <filter-mapping>
		<filter-name>httpsCookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  -->
   <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
   </filter-mapping>



  <!-- 
       Configure the Nucleus Servlet. This servlet definition is required
       in each web application that uses dynamo functionality.  When mapped,
       it exposes the nucleus component browser, but should not be
       mapped to any paths on a live site.
    -->
  <servlet>
    <servlet-name>NucleusServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- 
       This servlet exposes the admin server of dynamo as a servlet in your
       application server.  It is not necessary, but useful to access the
       nucleus component browser, dynamo's configuration manager, and
       performance monitor
    -->
  <servlet>
    <servlet-name>AdminProxyServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
    <init-param>
      <param-name>proxyServletPath</param-name>
      <param-value>/atg/dynamo/servlet/adminpipeline/AdminHandler</param-value>
    </init-param>  
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>CopyEAR</servlet-name>
    <servlet-class>com.ff.CopyEAR</servlet-class>
   
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!--
      This servlet exposes the dynamo servlet pipeline.  It is necessary if
      you want to support serving JHTML pages on your site.  The context path
      and servlet path used by this servlet are prepended onto all URLs
      for JHTML pages on your site.
    -->
  <servlet>
    <servlet-name>DynamoProxyServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- 
      This servlet must be defined in each web application which is designated
      as a "main" web application (i.e. its context name is the value of
      another web application's atg.session.parentContextName parameter). 
      Typically this is the dyn.ear web app.
    -->
  <servlet>
    <servlet-name>SessionNameContextServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.SessionNameContextServlet</servlet-class>
  </servlet>

  <!-- 
      This servlet handles special init-session requests issued by the ACC 
      and the template email system.
    -->
  <servlet>
    <servlet-name>InitSessionServlet</servlet-name>
    <servlet-class>atg.nucleus.servlet.InitSessionServlet</servlet-class>
  </servlet>

  
  <!--Servlet definition for captcha -->

<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>nl.captcha.servlet.CaptchaServlet</servlet-class>
		
		<!--border around captcha. Legal values are yes or no. Defaults to yes Other values will be ignored-->
		<init-param>
			<param-name>cap.border</param-name>
			<param-value>yes</param-value>
		</init-param>
		<!--color of the border. Legal values are r,g,b(and optional alpaha) or white,black,etc. Other values will be ignored-->
		<init-param>
			<param-name>cap.border.c</param-name>
			<param-value>255,241,241</param-value>
		</init-param>
		<!--thickness of the border around captcha. Legal values are > 0 other values will be ignored. Defaults to one-->
		<init-param>
			<param-name>cap.border.th</param-name>
			<param-value>1</param-value>
		</init-param>

<init-param>
          <param-name>cap.obscurificator</param-name>
          <param-value>nl.captcha.sandbox.FishEyeGimpyImp</param-value>
</init-param>

		<init-param>
			<param-name>cap.cap.producer</param-name>
			<param-value>nl.captcha.obscurity.DefaultCaptchaIml</param-value>
		</init-param>


		<init-param>
			<param-name>cap.word.imp</param-name>
			<param-value>nl.captcha.text.imp.DefaultWordRenderer</param-value>
		</init-param>

		<init-param>
			<param-name>cap.text.producer</param-name>
			<!--<param-value>nl.captcha.sandbox.ChineseTextProducer</param-value>-->
			<param-value>nl.captcha.text.imp.FiveLetterFirstNameTextCreator</param-value>
		</init-param>
		<init-param>
			<param-name>cap.char.arr</param-name>
			<param-value>2,3,4,6,7,8,a,b,c,d,e,f,g,h,k,o,r,s,t,x,y</param-value>
		</init-param>
		<!--if default captcha producer is slelected this value represents the amount of chars that are supplied in the captcha. values below 2 are not exepted when omitted defaults to 5-->
		<init-param>
			<param-name>cap.char.arr.l</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<param-name>cap.font.arr</param-name>

			<param-value>Arial,Helvetica,Courier,TimesRoman</param-value>

		</init-param>
		<init-param>
			<param-name>cap.font.size</param-name>
			<param-value>40</param-value>
		</init-param>

		<init-param>
			<param-name>cap.font.color</param-name>
			<param-value>102,0,0</param-value>
		</init-param>

	 
		<init-param>
			<param-name>cap.bg.imp</param-name>
			<param-value>nl.captcha.obscurity.imp.DefaultBackgroundImp</param-value>
		</init-param>

		<!--values can be either red,yellow,blue,cya etc or r,g,b,alpha value-->

		<init-param>
			<param-name>cap.background.c.to</param-name>
			<param-value>255,241,241</param-value>
		</init-param>

		<init-param>
			<param-name>cap.background.c.from</param-name>
			<param-value>255,241,241</param-value>
		</init-param>


		<init-param>
			<param-name>cap.noise.imp</param-name>
			<param-value>nl.captcha.obscurity.imp.DefaultNoiseImp</param-value>
		</init-param>

		<init-param>
			<param-name>cap.noise.c</param-name>
			<param-value>white</param-value>
		</init-param>
		
      </servlet>

      
	   <servlet>
    <servlet-name>Ajaxhandler</servlet-name>
    <servlet-class>com.sexy.external.ajax.AjaxHandler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- 
    You can enable this for diagnostic purposes in case you have trouble
    starting up other services, you can go directly to nucleus.  It will
    allow you to directly access the component browser.  There
    is no authentication on this though so do not enable it for a live site.
  <servlet-mapping>
    <servlet-name>NucleusServlet</servlet-name>
    <url-pattern>/nucleus/*</url-pattern>
  </servlet-mapping>
  -->
  
   <servlet-mapping>
    <servlet-name>CopyEAR</servlet-name>
    <url-pattern>/ff/copyEAR</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>Ajaxhandler</servlet-name>
    <url-pattern>/Ajaxhandler/*</url-pattern>
  </servlet-mapping>

  <!-- Exposes dynamo's admin server -->
  <servlet-mapping>
    <servlet-name>AdminProxyServlet</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

  <!-- Exposes dynamo's pipleine for serving DSP pages -->
  <servlet-mapping>
    <servlet-name>DynamoProxyServlet</servlet-name>
    <url-pattern>/dyn/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>InitSessionServlet</servlet-name>
     <url-pattern>/init-session</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet-mapping>
	<servlet-name>Captcha</servlet-name>
	<url-pattern>/account/Captcha.jpg</url-pattern>
  </servlet-mapping>
	
	

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Use the DSP Tag library in your jsp pages -->
   <jsp-config>
  <taglib>
    <taglib-uri>/dspTaglib</taglib-uri>
    <taglib-location>/WEB-INF/tld/dspjspTaglib1_0.tld</taglib-location>
  </taglib>
	
	<taglib>
		<taglib-uri>/fenderTaglib</taglib-uri>
		<taglib-location>/WEB-INF/tld/FenderTags.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/fenderErrorTaglib</taglib-uri>
		<taglib-location>/WEB-INF/tld/ErrorTags.tld</taglib-location>
	</taglib>

	<taglib>
       <taglib-uri>core</taglib-uri>
       <taglib-location>/WEB-INF/tld/coreTaglib1_0.tld</taglib-location>
    </taglib>
    
	<taglib>
		<taglib-uri>/jstl</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/fmt</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>
	 </jsp-config>
	
</web-app>

