<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>sampleATG</display-name>
	<description>easymed.com</description>




	<!-- Configure the Nucleus Servlet. This servlet definition is required 
		in each web application that uses dynamo functionality. When mapped, it exposes 
		the nucleus component browser, but should not be mapped to any paths on a 
		live site. -->
	<servlet>
		<servlet-name>NucleusServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- This servlet exposes the admin server of dynamo as a servlet in your 
		application server. It is not necessary, but useful to access the nucleus 
		component browser, dynamo's configuration manager, and performance monitor -->
	<servlet>
		<servlet-name>AdminProxyServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyServletPath</param-name>
			<param-value>/atg/dynamo/servlet/adminpipeline/AdminHandler</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- This servlet exposes the dynamo servlet pipeline. It is necessary if 
		you want to support serving JHTML pages on your site. The context path and 
		servlet path used by this servlet are prepended onto all URLs for JHTML pages 
		on your site. -->
	<servlet>
		<servlet-name>DynamoProxyServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.NucleusProxyServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- This servlet must be defined in each web application which is designated 
		as a "main" web application (i.e. its context name is the value of another 
		web application's atg.session.parentContextName parameter). Typically this 
		is the dyn.ear web app. -->
	<servlet>
		<servlet-name>SessionNameContextServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.SessionNameContextServlet</servlet-class>
	</servlet>
	<!-- This servlet handles special init-session requests issued by the ACC 
		and the template email system. -->
	<servlet>
		<servlet-name>InitSessionServlet</servlet-name>
		<servlet-class>atg.nucleus.servlet.InitSessionServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>SimpleCaptchaServlet</servlet-name>
		<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
	</servlet>

	<!-- You can enable this for diagnostic purposes in case you have trouble 
		starting up other services, you can go directly to nucleus. It will allow 
		you to directly access the component browser. There is no authentication 
		on this though so do not enable it for a live site. <servlet-mapping> <servlet-name>NucleusServlet</servlet-name> 
		<url-pattern>/nucleus/*</url-pattern> </servlet-mapping> -->

	<!-- Exposes dynamo's admin server -->
	<servlet-mapping>
		<servlet-name>AdminProxyServlet</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<!-- Exposes dynamo's pipleine for serving DSP pages -->
	<servlet-mapping>
		<servlet-name>DynamoProxyServlet</servlet-name>
		<url-pattern>/dyn/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InitSessionServlet</servlet-name>
		<url-pattern>/init-session</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Use the DSP Tag library in your jsp pages -->

	<!-- -->
	
<session-config>
	<session-timeout>1</session-timeout>
</session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>/dsp</taglib-uri>
			<taglib-location>/WEB-INF/tld/dspjspTaglib1_0.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/coreTaglib1_0.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/dspel</taglib-uri>
			<taglib-location>/WEB-INF/tld/dspjspELTaglib1_0.tld</taglib-location>
		</taglib>
	</jsp-config>


</web-app>

